 #carousel_third .swiper-button-prev {
     left: 62px;
     background-image: var(--bg-gradient-white);
 }

 #carousel_third .swiper-button-next {
     right: 62px;
     background-image: var(--bg-gradient-white);
 }

 @media only screen and (max-width:768px) {
     #carousel_third .swiper-button-prev {
         left: 10px;
         background-image: var(--bg-gradient-white);
     }

     #carousel_third .swiper-button-next {
         right: 10px;
         background-image: var(--bg-gradient-white);
     }

 }

 @media only screen and (max-width:480px) {
    #carousel_third .swiper-button-prev {
        left: 10px;
        background-image: var(--bg-gradient-white);
    }

    #carousel_third .swiper-button-next {
        right: 10px;
        background-image: var(--bg-gradient-white);
    }

}